{% extends '_base.html.twig' %}

{% block javascripts %}
{{ encore_entry_script_tags('config') }}
{% if is_granted('ROLE_OWNER') %}
{{ encore_entry_script_tags('admin') }}
{% endif %}
{% endblock %}

{% block main %}
<div class="tabs is-toggle is-toggle-rounded is-centered mb-0 mt-6">
	<ul>
    <li{% if app.request.attributes.get('_route') == 'config_home' %} class="is-active"{% endif %}>
			<a href="{{ path('config_home') }}">
				<span class="icon">
					<i class="mdi mdi-account"></i>
				</span>
				<span>Usuário</span>
			</a>
		</li>
    {% set module_routes = ['config_modules', 'config_modules_reorder'] %}
    <li{% if app.request.attributes.get('_route') in module_routes %} class="is-active"{% endif %}>
			<a href="{{ path('config_modules') }}">
				<span class="icon">
					<i class="mdi mdi-puzzle"></i>
				</span>
				<span>Módulos</span>
			</a>
		</li>
    {% set place_routes = ['config_places', 'config_place_new', 'config_place_edit'] %}
		<li{% if app.request.attributes.get('_route') in place_routes %} class="is-active"{% endif %}>
			<a href="{{ path('config_places') }}">
				<span class="icon">
					<i class="mdi mdi-hospital-building"></i>
				</span>
				<span>Locais</span>
			</a>
		</li>
    <li{% if app.request.attributes.get('_route') == 'config_header' %} class="is-active"{% endif %}>
			<a href="{{ path('config_header') }}">
				<span class="icon">
					<i class="mdi mdi-format-header-1"></i>
				</span>
				<span>Cabeçalho</span>
			</a>
		</li>
    {% set text_routes = ['config_fasts', 'config_text_new'] %}
    <li{% if app.request.attributes.get('_route') in text_routes %} class="is-active"{% endif %}>
			<a href="{{ path('config_fasts') }}">
				<span class="icon">
					<i class="mdi mdi-content-copy"></i>
				</span>
				<span>Textos</span>
			</a>
		</li>
    {% if is_granted('ROLE_ADMIN') %}
    {% set users_routes = ['admin_users', 'admin_users_new', 'admin_users_edit'] %}
    <li{% if app.request.attributes.get('_route') in users_routes %} class="is-active"{% endif %}>
			<a href="{{ path('admin_users') }}">
				<span class="icon">
					<i class="mdi mdi-account-multiple"></i>
				</span>
				<span>Usuários</span>
			</a>
		</li>
    {% endif %}
	</ul>
</div>

{% block content %}{% endblock %}
{% endblock %}
