{% extends 'config/_base.html.twig' %}

{% block content %}
{% import "macros/_forms.html.twig" as form %}
<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title is-3">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-account-cog"></i>
          </span>
          <span>Configurações do Usuário</span>
      </h2>

      <form id="formConfigUser" action="{{ path('config_home_save') }}">
        {{ form.single_input(
          'Usuário',
          '',
          'account',
          'text',
          app.user.username,
          'disabled') }}
        {{ form.single_input(
          'Email',
          '',
          'email',
          'text',
          app.user.email,
          'disabled') }}

        {{ form.double_input(
          'Nome',
          'account-tag',
          1,
          [
            'firstName',
            'text',
            app.user.firstName,
            'disabled'
          ],
          [
            'lastName',
            'text',
            app.user.lastName,
            'disabled'
          ]) }}
        {{ form.registry_input(
          registryTypes,
          federationUnits,
          app.user.registryType,
          app.user.registryState,
          app.user.registryNumber,
          'disabled') }}
        {{ form.single_input(
          'Telefone',
          'phone',
          'phone',
          'text',
          app.user.phone | format_phone,
          'placeholder="Telefone"') }}
        {{ form.submit_input('Salvar Alterações') }}
      </form>
    </div>

    <div class="box">
      <h2 class="title is-3">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-lock"></i>
          </span>
          <span>Trocar Senha</span>
      </h2>

      <form id="formChangePw" action="{{ path('config_change_password') }}">
        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">
              <span class="icon-text">
                <span class="icon">
                  <i class="mdi mdi-lock-open-outline"></i>
                </span>
                <span>Senha Atual</span>
              </span>
            </button>
          </div>
          <div class="control is-expanded">
            <input class="input" type="password" id="oldPw" placeholder="Senha Atual" required>
          </div>
        </div>

        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">
              <span class="icon-text">
                <span class="icon">
                  <i class="mdi mdi-lock-open-outline"></i>
                </span>
                <span>Nova Senha</span>
              </span>
            </button>
          </div>
          <div class="control is-expanded">
            <input class="input" type="password" id="newPw1" placeholder="Nova Senha" required>
          </div>
        </div>

        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">
              <span class="icon-text">
                <span class="icon">
                  <i class="mdi mdi-lock-open-outline"></i>
                </span>
                <span>Confirmar Nova Senha</span>
              </span>
            </button>
          </div>
          <div class="control is-expanded">
            <input class="input" type="password" id="newPw2" placeholder="Confirmar Nova Senha" required>
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <button type="submit" class="button is-success is-fullwidth">
              <span class="icon-text">
                <span class="icon">
                  <i class="mdi mdi-lock-reset"></i>
                </span>
                <span>Alterar Senha</span>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
