{% extends 'config/_base.html.twig' %}

{% block content %}
{% import "macros/_forms.html.twig" as form %}
<section class="section">
  <div class="container">
    <div class="box">
      {{ form.header(
        'Configurações do Usuário',
        'account-cog') }}

      <form id="formConfigUser" action="{{ path('config_home_save') }}">
        {{ form.single_input(
          'Usuário',
          '',
          'account',
          'text',
          app.user.username,
          'Nome de usuário',
          'disabled') }}
        {{ form.single_input(
          'Email',
          '',
          'email',
          'text',
          app.user.email,
          'Endereço de email',
          'disabled') }}

        {{ form.double_input(
          'Nome',
          'account-tag',
          1,
          [
            '',
            'text',
            app.user.firstName,
            'Primeiro nome',
            'disabled'
          ],
          [
            '',
            'text',
            app.user.lastName,
            'Sobrenome',
            'disabled'
          ]) }}
        {{ form.registry_input(
          registryTypes,
          federationUnits,
          app.user.registryType,
          app.user.registryState,
          app.user.registryNumber,
          'disabled') }}
        {{ form.single_input(
          'Telefone',
          'phone',
          'phone',
          'text',
          app.user.phone | format_phone,
          'placeholder="Telefone"') }}
        {{ form.submit_input('Salvar Alterações') }}
      </form>
    </div>

    <div class="box">
      {{ form.header(
        'Trocar Senha',
        'lock') }}

      <form id="formChangePw" action="{{ path('config_change_password') }}">
        {{ form.password_input(
          'Senha Atual',
          'oldPw',
          true,
          'Senha Atual',
          'required') }}
        {{ form.password_input(
          'Nova Senha',
          'newPw1',
          true,
          'Nova Senha',
          'required') }}
        {{ form.password_input(
          'Confirmar Nova Senha',
          'newPw2',
          true,
          'Confirmar Nova Senha',
          'required') }}
        {{ form.submit_input(
          'Alterar Senha',
          'lock-reset') }}
      </form>
    </div>
  </div>
</section>
{% endblock %}
