{% extends 'config/_base.html.twig' %}

{% block content %}
{% import "macros/_forms.html.twig" as form %}
<section class="section">
  <div class="container">
    <div class="box">
      {{ form.header(
        'Locais de Atendimento',
        'hospital-building') }}

      {% set places = app.user.getPlaces %}

      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <td>Nome</td>
            <td>CNES</td>
            <td>Ações</td>
          </tr>
        </thead>
        <tbody>
        {% if places|length %}
        {% for place in places %}
          <tr>
            <td>{{ place.getName }}</td>
            <td>{{ place.getCnes }}</td>
            <td>
              <div class="field has-addons">
                <div class="control">
                  <a class="button is-small" title="Editar" href="{{ path('config_place_edit', { 'place': place.getId }) }}">
                    <span class="icon">
                      <i class="mdi mdi-pencil"></i>
                    </span>
                  </a>
                </div>
                <div class="control">
                {% set user_place = app.user.place.getId|default(0) %}
                {% if place.getId == user_place %}
                  <button class="button is-small" title="Atual" disabled>
                    <span class="icon">
                      <i class="mdi mdi-map-marker-radius"></i>
                    </span>
                  </button>
                {% else %}
                  <button class="button is-small select-place" title="Selecionar" target="{{ path('config_place_select', { 'place': place.getId }) }}">
                    <span class="icon">
                      <i class="mdi mdi-map-marker-check"></i>
                    </span>
                  </button>
                {% endif %}
                </div>
                <div class="control">
                  <button class="button is-small is-danger delete-place" title="Deletar" target="{{ path('config_place_remove', { 'place': place.getId }) }}">
                    <span class="icon">
                      <i class="mdi mdi-delete"></i>
                    </span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
        {% else %}
          <tr>
            <td colspan="3" class="has-text-centered">Nenhum local de atendimento cadastrado.</td>
          </tr>
        {% endif %}
        </tbody>
      </table>

      {{ form.link_button(
        'config_place_new',
        'Criar Local de Atendimento',
        'plus',
        'success') }}
    </div>
  </div>
</section>
{% endblock %}
