{% extends 'config/_base.html.twig' %}

{% block content %}
{% import "macros/_forms.html.twig" as form %}
<section class="section">
  <div class="container">
    <div class="box">
      {{ form.header(
        (place.getName is empty) ? 'Criar Local de Atendimento' : "Editar #{place.getName}",
        'hospital-building') }}

      <form id="formPlace" action="{% if place.getName is empty %}{{ path('config_place_new_save') }}{% else %}{{ path('config_place_edit_save', { 'place': place.getId }) }}{% endif %}" method="get">
        {{ form.hidden_input(
          'id',
          (place.getName is empty) ? 0 : place.getId) }}
        {{ form.hidden_input(
          'places-list',
          path('config_places')) }}

        {{ form.single_input(
          'Nome do Local',
          'name',
          'tag',
          'text',
          place.getName,
          'Nome do Local',
          'required autofocus') }}

        <div class="columns mb-0">
          <div class="column">
            {{ form.single_input(
              'CNES',
              'cnes',
              'barcode',
              'number',
              place.getCnes,
              'CNES',
              'required') }}
          </div>

          <div class="column">
            {{ form.single_input(
              'Telefone',
              'phone',
              'phone',
              'text',
              place.getPhone | format_phone,
              'Telefone',
              'required') }}
          </div>
        </div>

        {{ form.single_input(
          'Endereço',
          'address',
          'map-marker',
          'text',
          place.getAddress,
          'Endereço',
          'required') }}

        {% if place.getName is empty %}
          {{ form.submit_input(
            'Criar Local de Atendimento',
            'plus') }}
        {% else %}
          {{ form.submit_input('Editar Local de Atendimento') }}
        {% endif %}
      </form>
    </div>
  </div>
</section>
{% endblock %}
