{% extends 'config/_base.html.twig' %}

{% block content %}
{% import "macros/_forms.html.twig" as form %}
<section class="section">
  <div class="container">
    <div class="box">
      {{ form.header(
        'Textos Rápidos',
        'content-copy') }}

      <div class="grid is-col-min-8">
      {% if texts|length %}
      {% for text in texts %}
        <div class="cell">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">{{ text.getName }}</p>
              <button class="card-header-icon clipboard" data-clipboard-text="{{ text.getText }}">
                <span class="icon">
                  <i class="mdi mdi-content-copy"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
              <p>
                {{ text.getText | nl2br }}
              </p>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item text-edit" text-id="{{ text.getId }}" text-name="{{ text.getName }}" text-txt="{{ text.getText }}">
                <span class="icon-text">
                  <span class="icon">
                    <i class="mdi mdi-pencil"></i>
                  </span>
                  <span>Editar</span>
                </span>
              </a>
              <a class="card-footer-item text-remove" remove-uri="{{ path('config_text_remove', {text: text.getId}) }}">
                <span class="icon-text">
                  <span class="icon">
                    <i class="mdi mdi-delete"></i>
                  </span>
                  <span>Remover</span>
                </span>
              </a>
            </footer>
          </div>
        </div>
      {% endfor %}
      {% else %}
        <div class="cell">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">Opa...</p>
            </header>
            <div class="card-content">
              <p>Não há nenhum texto rápido salvo</p>
            </div>
          </div>
        </div>
      {% endif %}
      </div>

      {{ form.link_button(
        'config_text_new',
        'Criar Texto',
        'plus',
        'success') }}
    </div>
  </div>
</section>

<div class="modal" id="text-edit-modal">
  <div class="modal-background"></div>
  <div class="card modal-card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-pencil"></i>
          </span>
          <span>Editar Texto</span>
        </span>
      </p>
    </header>
    <section class="card-content">
      <input type="hidden" id="text-edit-id">

      {{ form.single_input(
        'Nome do Texto',
        'text-edit-name',
        'tag',
        'text',
        '',
        'Nome do Texto',
        'required') }}
      {{ form.textarea_input(
        'text-edit-text',
        '',
        'Conteúdo do texto rápido',
        7,
        'required') }}
    </section>
    <footer class="card-footer">
      <a class="card-footer-item" id="text-edit-save" save-uri="{{ path('config_text_edit_save', {text: 'FOO'}) }}">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-content-save"></i>
          </span>
          <span>Salvar</span>
        </span>
      </a>
      <a class="card-footer-item" id="text-edit-cancel">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-close"></i>
          </span>
          <span>Cancelar</span>
        </span>
      </a>
    </footer>
  </div>
</div>
{% endblock %}
