{% extends 'config/_base.html.twig' %}

{% block content %}
{% import "macros/_forms.html.twig" as form %}
<section class="section">
  <div class="container">
    <div class="box">
      {{ form.header(
        'Criar Texto Rápido',
        'content-copy') }}

      <form id="formText" action="{{ path('config_text_new_save') }}" method="get">
        {{ form.hidden_input(
          'id',
          (text.getName is empty) ? 0 : text.getId) }}
        {{ form.hidden_input(
          'texts-list',
          path('config_fasts')) }}

        {{ form.single_input(
          'Nome do Texto',
          'name',
          'tag',
          'text',
          '',
          'Nome do Texto',
          'required autofocus') }}
        {{ form.textarea_input(
          'text',
          '',
          'Conteúdo do texto rápido',
          13,
          'required') }}

        {{ form.submit_input(
          'Criar Texto',
          'plus') }}
      </form>
    </div>
  </div>
</section>
{% endblock %}
