{% extends 'config/_base.html.twig' %}

{% block content %}
{% import "macros/_forms.html.twig" as form %}
<section class="section">
  <div class="container">
    <div class="box">
      {{ form.header(
        'Usuários',
        'account-multiple') }}

      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <td>Usuário</td>
            <td>Nome</td>
            <td>Registro</td>
            <td>Email</td>
            <td>Ações</td>
          </tr>
        </thead>
        <tbody>
        {% if users|length %}
        {% for user in users %}
          <tr>
            <td>
            {% if is_granted_for_user(user, 'ROLE_OWNER') %}
              <span class="icon-text">
                <span class="icon">
                  <i class="mdi mdi-chess-king"></i>
                </span>
                <span>{{ user.getUsername }}</span>
              </span>
            {% elseif is_granted_for_user(user, 'ROLE_ADMIN') %}
              <span class="icon-text">
                <span class="icon">
                  <i class="mdi mdi-chess-knight"></i>
                </span>
                <span>{{ user.getUsername }}</span>
              </span>
            {% else %}
              {{ user.getUsername }}
            {% endif %}
            </td>
            <td>{{ user.getFirstName }} {{ user.getLastName }}</td>
            <td>{{ user | parse_registry }}</td>
            <td><a target="_blank" href="mailto:{{ user.getEmail }}">{{ user.getEmail }}</a></td>
            <td>
              <div class="field has-addons">
                <div class="control">
                  <a class="button is-small" title="Editar" href="{{ path('admin_users_edit', {'user': user.getId}) }}">
                    <span class="icon">
                      <i class="mdi mdi-pencil"></i>
                    </span>
                  </a>
                </div>
                <div class="control">
                  <button class="button is-small resetpw-user" title="Resetar senha" target="{{ path('admin_users_pwreset', {'user': user.getId }) }}" username="{{ user.getUsername }}">
                    <span class="icon">
                      <i class="mdi mdi-lock-alert"></i>
                    </span>
                  </button>
                </div>
                {% if not is_granted_for_user(user, 'ROLE_OWNER') %}
                <div class="control">
                  <button class="button is-small is-danger delete-user" title="Deletar" target="{{ path('admin_users_remove', {'user': user.getId }) }}" username="{{ user.getUsername }}">
                    <span class="icon">
                      <i class="mdi mdi-delete"></i>
                    </span>
                  </button>
                </div>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
        {% else %}
          <tr>
            <td colspan="5" class="has-text-centered">Nenhum usuário cadastrado &mdash; <strong>COMO</strong> você fez isso?!</td>
          </tr>
        {% endif %}
        </tbody>
      </table>

      {{ form.link_button(
        'admin_users_new',
        'Adicionar Usuário',
        'plus',
        'success') }}
    </div>
  </div>
</section>

<div class="modal" id="reset-pw-modal">
  <div class="modal-background"></div>
  <div class="card modal-card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-lock-alert"></i>
          </span>
          <span>Resetar Senha</span>
        </span>
      </p>
    </header>
    <section class="card-content">
      <div class="content">
        <p>Você confirma que quer resetar a senha do usuário <span id="reset-pw-modal-username">?</span>?</p>
      </div>
    </section>
    <footer class="card-footer">
      <a class="card-footer-item" id="reset-pw-modal-do" reset-uri="">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-alert"></i>
          </span>
          <span>Resetar</span>
        </span>
      </a>
      <a class="card-footer-item" id="reset-pw-modal-cancel">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-close"></i>
          </span>
          <span>Cancelar</span>
        </span>
      </a>
    </footer>
  </div>
</div>

<div class="modal" id="delete-modal">
  <div class="modal-background"></div>
  <div class="card modal-card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-delete"></i>
          </span>
          <span>Remover Usuário</span>
        </span>
      </p>
    </header>
    <section class="card-content">
      <div class="content">
        <p>Você confirma que quer remover o usuário <span id="delete-modal-username">?</span>?</p>
      </div>

      <div class="field">
        <div class="control is-expanded">
          <textarea class="textarea has-fixed-size" id="delete-modal-reason" placeholder="Caso deseje, inclua uma mensagem explicativa da remoção aqui, Markdown optativo..."></textarea>
        </div>
      </div>
    </section>
    <footer class="card-footer">
      <a class="card-footer-item" id="delete-modal-do" delete-uri="">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-delete-alert"></i>
          </span>
          <span>REMOVER</span>
        </span>
      </a>
      <a class="card-footer-item" id="delete-modal-cancel">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-close"></i>
          </span>
          <span>Cancelar</span>
        </span>
      </a>
    </footer>
  </div>
</div>
{% endblock %}
