{% extends 'config/_base.html.twig' %}

{% block content %}
{% import "macros/_forms.html.twig" as form %}
<section class="section">
  <div class="container">
    <div class="box">
      {{ form.header(
        'Editar Usuário',
        'account-edit') }}

      <form id="formUserEdit" action="{{ path('admin_users_edit_save', {'user': user.getId}) }}" method="get">
        {{ form.hidden_input(
          'users-list',
          path('admin_users')) }}

        {{ form.single_input(
          'Nome de Usuário',
          'username',
          'account',
          'text',
          user.getUsername,
          'Nome de Usuário',
          'required autofocus') }}
        {{ form.single_input(
          'Email',
          'email',
          'email',
          'email',
          user.getEmail,
          'Email',
          'required') }}
        {{ form.double_input(
          'Nome',
          'badge-account',
          1,
          [
            'firstName',
            'text',
            user.getFirstName,
            'Primeiro nome',
            'required'
          ],
          [
            'lastName',
            'text',
            user.getLastName,
            'Sobrenome',
            'required'
          ]) }}
        {{ form.registry_input(
          registryTypes,
          federationUnits,
          user.getRegistryType,
          user.getRegistryState,
          user.getRegistryNumber,
          'required') }}
        {# Map parsed array of Objects into array of arrays,
        to adhere to the macro specification #}
        {% set mapped_roles = roles|map(r => [r.value, r.name]) %}
        {% set user_role = user.getRoles|json_encode() %}
        {{ form.select_input(
          'Função',
          'roles',
          mapped_roles,
          'sitemap',
          user_role,
          '',
          'required') }}

        {{ form.submit_input(
          'Salvar Usuário',
          'content-save') }}
      </form>
    </div>
  </div>
</section>
{% endblock %}
