{% extends 'config/_base.html.twig' %}

{% block content %}
{% import "macros/_forms.html.twig" as form %}
<section class="section">
  <div class="container">
    <div class="box">
      {{ form.header(
        'Adicionar Usuário',
        'account-plus') }}

      <form id="formUserNew" action="{{ path('admin_users_new_save') }}" method="get">
        {{ form.hidden_input(
          'users-list',
          path('admin_users')) }}

        {{ form.single_input(
          'Nome de Usuário',
          'username',
          'account',
          'text',
          '',
          'Nome de Usuário',
          'required autofocus') }}
        {{ form.double_input(
          'Nome',
          'badge-account',
          1,
          [
            'firstName',
            'text',
            '',
            'Primeiro nome',
            'required'
          ],
          [
            'lastName',
            'text',
            '',
            'Sobrenome',
            'required'
          ]) }}
        {{ form.registry_input(
          registryTypes,
          federationUnits,
          null,
          null,
          null,
          'required') }}
        {{ form.single_input(
          'Email',
          'email',
          'email',
          'email',
          '',
          'Email',
          'required') }}
        {{ form.single_input(
          'Celular',
          'phone',
          'cellphone',
          'text',
          '',
          'Celular',
          'required') }}
        {# Map parsed array of Objects into array of arrays,
        to adhere to the macro specification #}
        {% set mapped_roles = roles|map(r => [r.value, r.name]) %}
        {{ form.select_input(
          'Função',
          'roles',
          mapped_roles,
          'sitemap',
          null,
          '',
          'required') }}

        {{ form.submit_input(
          'Enviar Convite',
          'send-lock') }}
      </form>
    </div>
  </div>
</section>
{% endblock %}
