{##
Includes a header according to Bulma's standard.
The header has its text with a Material Design
Icon icon before it.

The classes for each element are predetermined and
may not be altered through this macro.

@example Edit header

{{ form.header(
  'Edit File',
  'content-file') }}

@param  [String]        label         The label text to display.
@param  [String, nil]   icon          The hyphen-separated icon name. The macro already inlcudes the preceding "mdi-". Shows no icon if blank.
@param  [Integer, nil]  level         The level of the header. Defaults to 2, if greater than 5, parses to 5 and if lesse than 1, parses to 1.
#}
{% macro header(label, icon, level) %}
{%- if level is not defined -%}
  {%- set level = 2 -%}
{%- elseif level < 1 -%}
  {%- set level = 1 -%}
{%- elseif level > 5 -%}
  {%- set level = 5 -%}
{%- endif -%}
<h{{ level }} class="title is-{{- level + 1 -}}">
  {%- if icon is defined and icon is not empty -%}
  <span class="icon-text">
    <span class="icon">
      <i class="mdi mdi-{{- icon -}}"></i>
    </span>
    <span>{{- label -}}</span>
  </span>
  {%- else -%}
  {{- label -}}
  {%- endif -%}
</h{{ level }}>
{% endmacro %}

{##
Includes a hidden input field which does not adhere
to Bulma's standards since it isn't shown. It must
have a value set!

@example Product ID

{{ form.hidden_input(
  'id',
  15875) }}

@param  [String]  id      The input's id attribute.
@param  [Mixed]   value   The value the input contains.
#}
{% macro hidden_input(id, value) %}
<input
  type="hidden"
  id="{{- id -}}"
  value="{{- value -}}">
{% endmacro %}

{##
Includes a single-input field according to Bulma's
Form standard. The form has a static button as a
label, with a Material Design Icon icon before the
label text.

The classes for each element are predetermined and
may not be altered through this macro.

@example Username field

{{ form.single_input(
  'Username',
  'username',
  'account-badge',
  'text',
  user.getUsername,
  'Username',
  'required') }}

@param  [String]        label         The label text to display.
@param  [String]        id            The input's id attribute.
@param  [String, nil]   icon          The hyphen-separated icon name. The macro already inlcudes the preceding "mdi-". Defaults to "progress-question".
@param  [String, nil]   type          The [type of input](https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input#input_types). Defaults to "text".
@param  [Mixed, nil]    value         The value the input initially contains. Defaults to empty ("").
@param  [String, nil]   placeholder   A text to be used as placeholder. Defaults to empty ("").
@param  [String, nil]   attrs         A space-separated list of [aditional parameters](https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input#attributes) for the input. Defaults to empty ("").
#}
{% macro single_input(label, id, icon, type, value, placeholder, attrs) %}
<div class="field has-addons">
  <div class="control">
    <button class="button is-static" tabindex="-1">
      <span class="icon-text">
        <span class="icon">
          <i class="mdi mdi-{{- icon | default('progress-question') -}}"></i>
        </span>
        <span>{{- label -}}</span>
      </span>
    </button>
  </div>
  <div class="control is-expanded">
    <input
      class="input"
      id="{{- id -}}"
      type="{{- type | default('text') -}}"
      placeholder="{{- label -}}"
      value="{{- value | default('') -}}"
      placeholder="{{- placeholder | default(label) | default('') -}}"
      {%- if attrs -%} {{ attrs }}{%- endif -%}>
  </div>
</div>
{% endmacro %}

{##
Includes a double-input field according to Bulma's
Form standard. The form has a static button as a
label, with a Material Design Icon icon before the
label text.

The classes for each element are predetermined and
may not be altered through this macro.

@example Name (First + Last) field

{{ form.double_input(
  'Name',
  'account',
  0,
  [
    'firstName',
    'text'
  ],
  [
    'lastName',
    'text'
  ]) }}

@param  [String]        label     The label text to display.
@param  [String, nil]   icon      The hyphen-separated icon name. The macro already inlcudes the preceding "mdi-". Defaults to "progress-question".
@param  [Integer]       expanded  Which of the two inputs is to be expanded. Either 0 or 1.
@param  [Array, String] input0    An array containing the first input's data. If a string is giver, it will be user as the input's id attribute, and all other parameters will be set to default.
@param  [Array, String] input1    An array containing the second input's data. If a string is giver, it will be user as the input's id attribute, and all other parameters will be set to default.
  @param  [String]        id            The input's id attribute.
  @param  [String, nil]   type          The [type of input](https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input#input_types). Defaults to "text".
  @param  [Mixed, nil]    value         The value the input initially contains. Defaults to empty ("").
  @param  [String, nil]   placeholder   A text to be used as placeholder. Defaults to empty ("").
  @param  [String, nil]   attrs         A space-separated list of [aditional parameters](https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input#attributes) for the input. Defaults to empty ("").
#}
{% macro double_input(label, icon, expanded, input0, input1) %}
<div class="field has-addons">
  <div class="control">
    <button class="button is-static" tabindex="-1">
      <span class="icon-text">
        <span class="icon">
          <i class="mdi mdi-{{- icon | default('progress-question') -}}"></i>
        </span>
        <span>{{- label -}}</span>
      </span>
    </button>
  </div>
  <div class="control">
    <input
      class="input{% if expanded == 0 %} is-expanded{% endif %}"
      type="{{- input0[1] | default('text') -}}"
      {%- if input0 is iterable -%}
      {%- set input0_id = input0 -%}
      {%- endif -%}
      id="{{- input0[0] | default('') -}}"
      value="{{- input0[2] | default('') -}}"
      {% if input0[3] is defined %} placeholder="{{- input0[3] -}}"{% endif %}
      {% if input0[4] is defined %} {{ input0[4] }}{% endif %}>
  </div>
  <div class="control is-expanded">
    <input
      class="input{% if expanded == 1 %} is-expanded{% endif %}"
      type="{{- input1[1] | default('text') -}}"
      {%- if input1 is iterable -%}
      {%- set input1_id = input1 -%}
      {%- endif -%}
      id="{{- input1[0] | default('') -}}"
      value="{{- input1[2] | default('') -}}"
      {% if input1[3] is defined %} placeholder="{{ input1[3] }}"{% endif %}
      {% if input1[4] is defined %} {{ input1[4] }}{% endif %}>
  </div>
</div>
{% endmacro %}

{##
Includes a textarea field according to Bulma's
Form standard. The form has no label nor icon,
only the placeholder text and the value, if
given.

The classes for each element are predetermined and
may not be altered through this macro.

@example Bio field

{{ form.textarea_input(
  'user_bio',
  '',
  'Insira um texto curto para sua bio',
  3,
  'required') }}

@param  [String]        id            The input's id attribute.
@param  [Mixed, nil]    value         The value the input initially contains. Defaults to empty ("").
@param  [String, nil]   placeholder   A text to be used as placeholder. Defaults to empty ("").
@param  [Integer, nil]  rows          The vertical size of the textarea in rows. Defaults to 5.
@param  [String, nil]   attrs         A space-separated list of [aditional parameters](https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input#attributes) for the input. Defaults to empty ("").
#}
{% macro textarea_input(id, value, placeholder, rows, attrs) %}
<div class="field">
  <div class="control is-expanded">
    <textarea
      class="textarea has-fixed-size"
      id="{{- id -}}"
      placeholder="{{- placeholder | default('') -}}"
      rows="{{- rows | default(5) -}}"
      {% if attrs %} {{ attrs }}{% endif %}>
      {{- value | default('') -}}
    </textarea>
  </div>
</div>
{% endmacro %}

{##
Includes a select field according to Bulma's
Form standard. The form has a static button as a
label, with a Material Design Icon icon before the
label text.

The classes for each element are predetermined and
may not be altered through this macro.

@example Favorite color field

{{ form.select_input(
  'Cor Favorita',
  'fav_color',
  [
    ['blue', 'Azul'],
    ['green', 'Verde'],
    ['red', 'Vermelho']
  ],
  'palette',
  null,
  'Escolher cor',
  'required') }}

@param  [String]        label         The label text to display.
@param  [String]        id            The input's id attribute.
@param  [Array]         options       An array of arrays, each element one option, made of system value (index 0 of the subarray) and display value (index 1).
@param  [String, nil]   icon          The hyphen-separated icon name. The macro already inlcudes the preceding "mdi-". Defaults to "progress-question".
@param  [Mixed, nil]    value         The value the input initially contains. Defaults to empty ("").
@param  [String, nil]   placeholder   A text to be used as placeholder. Defaults to empty ("Selecionar").
@param  [String, nil]   attrs         A space-separated list of [aditional parameters](https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input#attributes) for the input. Defaults to empty ("").
#}
{% macro select_input(label, id, options, icon, value, placeholder, attrs) %}
<div class="field has-addons">
  <div class="control">
    <button class="button is-static" tabindex="-1">
      <span class="icon-text">
        <span class="icon">
          <i class="mdi mdi-{{- icon | default('progress-question') -}}"></i>
        </span>
        <span>{{- label -}}</span>
      </span>
    </button>
  </div>
  <div class="control is-expanded">
    <div class="select is-fullwidth">
      <select
        id="{{- id -}}"
        {% if attrs %} {{ attrs}}{% endif %}>
        <option value="" disabled{% if value is empty %} selected{% endif %}>{{- placeholder | default('Selecionar') -}}</option>
        {%- for o in options -%}
        <option value="{{- o[0] -}}"{% if o[0] == value %} selected{% endif %}>{{- o[1] -}}</option>
        {%- endfor -%}
      </select>
    </div>
  </div>
</div>
{% endmacro %}

{##
Includes a field according to Bulma's Form standard.
The form has a static button as a label, with a
Material Design Icon icon before the label text.
The field is to set and/or show a user's professional
registry.

The classes for each element are predetermined and
may not be altered through this macro.

@example Username registry

{{ form.registry_input(
  registryTypes,
  federationUnits,
  user.registryType,
  user.registryState,
  user.registryNumber,
  'disabled') }}

@param  [Enum Array]          registryTypes     The Enum object with the possible registry types.
@param  [Enum Array]          federationUnits   The Enum object with the possible registry federation units.
@param  [Enum Object, nil]    type              User's registry type Enum object - i.e. one of the given 'cases'.
@param  [Enum Object, nil]    uf                User's registry federation unit Enum object - i.e. one of the given 'cases'.
@param  [Integer, nil]        number            User's registry number.
@param  [String, nil]         attrs             A space-separated list of [aditional parameters](https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input#attributes) for the input. Defaults to empty ("").
#}
{% macro registry_input(registryTypes, federationUnits, type, uf, number, attrs) %}
{%- if type is null -%}
  {%- set type = {'value': null} -%}
{%- endif -%}
{%- if uf is null -%}
  {%- set uf = {'value': null} -%}
{%- endif -%}
<div class="field has-addons">
  <div class="control">
    <button class="button is-static" tabindex="-1">
      <span class="icon-text">
        <span class="icon">
          <i class="mdi mdi-stamper"></i>
        </span>
        <span>Registro</span>
      </span>
    </button>
  </div>
  <div class="control">
    <div class="select">
      <select id="registryType"{% if attrs %} {{ attrs }}{% endif %}>
        <option value="" disabled{% if type.value == null %} selected{% endif %}>Tipo</option>
        {%- for t in registryTypes -%}
        <option
          value="{{- t.value -}}"
          {% if t.value == type.value %} selected{% endif %}>
          {{- t.value -}}
        </option>
        {%- endfor -%}
      </select>
    </div>
  </div>
  <div class="control">
    <div class="select">
      <select id="registryState"{% if attrs %} {{ attrs }}{% endif %}>
        <option value="" disabled{% if uf.value == null %} selected{% endif %}>UF</option>
        {%- for f in federationUnits -%}
        <option
          value="{{- f.value -}}"
          {% if f.value == uf.value %} selected{% endif %}>
          {{- f.value -}}
        </option>
        {%- endfor -%}
      </select>
    </div>
  </div>
  <div class="control is-expanded">
    <input
      class="input"
      type="number"
      id="registryNumber"
      placeholder="Nº de registro"
      value="{{- number | default('') -}}"
      {% if attrs %} {{ attrs }}{% endif %}>
  </div>
</div>
{% endmacro %}

{##
Includes a FORM submit button according to Bulma's
Form standard.
The form has a Material Design Icon icon before the
label text.

The classes for each element are predetermined and
may not be altered through this macro.

@example Minimal Submit

<form id="minimalForm">
  {{ form.submit_input() }}
</form>

@example Submit

<form id="nonStandardSubmit">
  {{ form.submit_input('Salvar Alterações') }}
</form>

@param  [String, nil]   label   The label text to display. Defaults to "Salvar".
@param  [String, nil]   icon    The hyphen-separated icon name. The macro already inlcudes the preceding "mdi-". Defaults to "content-save".
#}
{% macro submit_input(label, icon) %}
<div class="field">
  <div class="control is-expanded">
    <button type="submit" class="button is-success is-fullwidth">
      <span class="icon-text">
        <span class="icon">
          <i class="mdi mdi-{{- icon | default('content-save') -}}"></i>
        </span>
        <span>{{- label | default('Salvar') -}}</span>
      </span>
    </button>
  </div>
</div>
{% endmacro %}

{##
Includes a link button according to Bulma's Form
standard. The link may have a Material Design Icon
icon before the label text, and may also have one
of the button colors defined by Bulma.

The classes for each element are predetermined and
may not be altered through this macro.

@example Link to create

{{ form.link_button(
  'route_to_new_product',
  'Novo Produto',
  'plus',
  'success') }}

@param  [String]        target  The target, either a URL or a Route name.
@param  [String]        label   The label text to display. Defaults to "Salvar".
@param  [String, nil]   icon    The hyphen-separated icon name. The macro already inlcudes the preceding "mdi-". Defaults to "content-save".
@param  [String, nil]   color   The type of color, if any. Defaults to empty (""), may be one of: `primary`, `link`, `info`, `success`, `warning`, and `danger`.
#}
{% macro link_button(target, label, icon, color) %}
{%- set color_classes = ['primary', 'link', 'info', 'success', 'warning', 'danger'] -%}
{%- if color is not defined or color not in color_classes -%}
  {%- set color_class = '' -%}
{%- else -%}
  {%- set color_class = " is-#{color}" -%}
{%- endif -%}
{%- if target matches '{^[0-9a-z]+://}' -%}
  {%- set uri = target -%}
{%- else -%}
  {%- set uri = path(target) -%}
{%- endif -%}
<div class="field">
  <div class="control is-expanded">
    <a class="button{{ color_class }} is-fullwidth" href="{{- uri -}}">
      {%- if icon is defined -%}
      <span class="icon-text">
        <span class="icon">
          <i class="mdi mdi-{{- icon -}}"></i>
        </span>
        <span>{{- label -}}</span>
      </span>
      {%- else -%}
      <span>{{- label -}}</span>
      {%- endif -%}
    </a>
  </div>
</div>
{% endmacro %}

{##
Includes a single-input password field according
to Bulma's Form standard. The form has a static
button as a label, with a Material Design Icon
icon before the label text.

The classes and types for each element are
predetermined and may not be altered through
this macro.

@example Old Password Field

{{ form.password_input(
  'Senha Antiga',
  'oldPw',
  true,
  'required') }}

@param  [String]        label         The label text to display.
@param  [String]        id            The input's id attribute.
@param  [Boolen, nil]   open          Whether the lock icon is to be open or closed. Defaults to false.
@param  [String, nil]   placeholder   A text to be used as placeholder. Defaults to empty ("").
@param  [String, nil]   attrs         A space-separated list of [aditional parameters](https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input#attributes) for the input. Defaults to empty ("").
#}
{% macro password_input(label, id, open, placeholder, attrs) %}
<div class="field has-addons">
  <div class="control">
    <button class="button is-static" tabindex="-1">
      <span class="icon-text">
        <span class="icon">
          <i class="mdi mdi-lock-{%- if open -%}open-{%- endif -%}outline"></i>
        </span>
        <span>{{- label -}}</span>
      </span>
    </button>
  </div>
  <div class="control is-expanded">
    <input
      class="input"
      type="password"
      id="{{- id -}}"
      {% if placeholder %} placeholder="{{- placeholder -}}"{% endif %}
      {% if attrs %} {{ attrs }}{% endif %}>
  </div>
</div>
{% endmacro %}
