{##
  A gender selection select field.
#}
{% macro gender() %}
<div class="box">
  <div class="field has-addons">
    <div class="control">
      <button class="button is-static" tabindex="-1">Declinação de Gênero</button>
    </div>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select id="pronouns" title="Qual declinação de gênero e/ou pronome será usado para descrever o exame físico, quando aplicável">
          <option value="e" selected>Neutro</option>
          <option value="o">Ele/Dele</option>
          <option value="a">Ela/Dela</option>
        </select>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{##
  The main physical exam fields: general, vital
  signs, and conscience.
#}
{% macro general() %}
<div class="box">
  <h2 class="title is-4">Estado Geral</h2>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select id="status" title="Estado geral">
              <option value="Bom" selected>BEG</option>
              <option value="Regular">REG</option>
              <option value="Mal">MEG</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select id="nutrition" title="Estado nutricional">
              <option value="" selected>Status Nutric. (N/A)</option>
              <option value="Eutrófic((PRO))">Eutrófice</option>
              <option value="Esmaecid((PRO))">Esmaecide</option>
              <option value="Caquétic((PRO))">Caquétice</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="is-checkradio">
      <input class="is-success" type="radio" name="color" value="Corad((PRO))" checked>
      <span>Corade</span>
    </label>
    <label class="is-checkradio">
      <input class="is-warning" type="radio" name="color" value="1">
      <span>&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="color" value="2">
      <span>&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="color" value="3">
      <span>&plus;&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="color" value="4">
      <span>&plus;&plus;&plus;&plus;</span>
    </label>
  </div>

  <div class="field">
    <label class="is-checkradio">
      <input class="is-success" type="radio" name="hydro" value="hidratad((PRO))" checked>
      <span>Hidratade</span>
    </label>
    <label class="is-checkradio">
      <input class="is-warning" type="radio" name="hydro" value="1">
      <span>&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="hydro" value="2">
      <span>&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="hydro" value="3">
      <span>&plus;&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="hydro" value="4">
      <span>&plus;&plus;&plus;&plus;</span>
    </label>
  </div>

  <div class="field">
    <label class="is-checkradio">
      <input class="is-success" type="radio" name="cyanose" value="acianótic((PRO))" checked>
      <span>Acianótice</span>
    </label>
    <label class="is-checkradio">
      <input class="is-warning" type="radio" name="cyanose" value="1">
      <span>&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="cyanose" value="2">
      <span>&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="cyanose" value="3">
      <span>&plus;&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="cyanose" value="4">
      <span>&plus;&plus;&plus;&plus;</span>
    </label>
  </div>

  <div class="field">
    <label class="is-checkradio">
      <input class="is-success" type="radio" name="icter" value="anictéric((PRO))" checked>
      <span>Anictérice</span>
    </label>
    <label class="is-checkradio">
      <input class="is-warning" type="radio" name="icter" value="1">
      <span>&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="icter" value="2">
      <span>&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="icter" value="3">
      <span>&plus;&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="icter" value="4">
      <span>&plus;&plus;&plus;&plus;</span>
    </label>
  </div>

  <div class="field">
    <label class="is-checkradio">
      <input class="is-link" type="radio" name="fever" value="" checked>
      <span>NT</span>
    </label>
    <label class="is-checkradio">
      <input class="is-success" type="radio" name="fever" value="afebril">
      <span>Afebril</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="fever" value="febril">
      <span>Febril</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="fever" value="hipotérmic((PRO))">
      <span>Hipotérmice</span>
    </label>
  </div>

  <div class="field has-addons">
    <div class="control">
      <button class="button is-static" tabindex="-1">Estado Respiratório</button>
    </div>
    <div class="control">
      <div class="select">
        <select id="breathing">
          <option value="">N/A</option>
          <option value="eupneic((PRO))" selected>Eupneice</option>
          <option value="eupneic((PRO)) (ausência de quaisquer sinais objetivos de dispneia - sem de uso de musculaturas respiratórias acessórias, sem postura compensatória)">Eupneice (enfático)</option>
          <option value="taquipneic((PRO))">Taquipneice</option>
          <option value="bradipneic((PRO))">Bradipneice</option>
          <option value="taquidispneic((PRO))">Taquidispneice</option>
          <option value="bradidispneic((PRO))">Bradidispneice</option>
          <option value="other">Outro...</option>
        </select>
      </div>
    </div>
    <div class="control is-expanded">
      <input class="input" id="breathing-other" placeholder="Descreva..." disabled>
    </div>
  </div>

  <div class="field has-addons">
    <div class="control">
      <button class="button is-static" tabindex="-1">Fácies</button>
    </div>
    <div class="control">
      <div class="select">
        <select id="face">
          <optgroup label="Gerais">
            <option value="atípica" selected>Normal</option>
            <option value="other">Outra...</option>
          </optgroup>
          <optgroup label="Sindrômicas">
            <option value="acromegálica">Acromegálica</option>
            <option value="adenoidiana">Adenoidiana</option>
            <option value="cushingoide (ou 'moonface')">Cushingoide</option>
            <option value="esclerodérmica">Esclerodérmica</option>
            <option value="leonina">Leonina</option>
            <option value="miastênica (ou de Hutchinson)">Miastênica</option>
            <option value="parkinsoniana">Parkinsoniana</option>
            <option value="renal">Renal</option>
            <option value="tireotóxica (ou basedowiana)">Tireotóxica</option>
          </optgroup>
          <optgroup label="Sintomáticas">
            <option value="dolorosa">Dolorosa</option>
            <option value="sonolenta">Sonolenta</option>
            <option value="entristecida">Entristecida</option>
            <option value="astênica">Astênica</option>
            <option value="persecutória">Persecutória</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="control is-expanded">
      <input type="text" class="input" id="face-other" placeholder="Descreva..." disabled>
    </div>
  </div>
</div>

<div class="box">
	<h2 class="title is-4">Sinais Vitais</h2>

	<div class="columns">
		<div class="column">
			<div class="field has-addons">
				<div class="control">
					<button class="button is-static" tabindex="-1">Sat</button>
				</div>
				<div class="control is-expanded">
					<input type="number" id="ssvv-sat" class="input" min="0" max="100" step="1" placeholder="#">
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">%</button>
				</div>
				<div class="control">
					<div class="select">
						<select id="ssvv-sat-type" title="Tipo de aporte de oxigênio: 'aa' = ar ambiente / 'CN' = cateter nasal de oxigênio / 'CAF' = cateter nasal de alto fluxo / 'MNR' = máscara não reinalante">
							<option value="ar ambiente" selected>aa</option>
							<option value="cateter nasal de O2">CN</option>
              <option value="cateter nasal de alto fluxo">CAF</option>
							<option value="máscara não-reinalante">MNR</option>
						</select>
					</div>
				</div>
				<div class="control is-expanded">
					<input type="number" id="ssvv-sat-flux" class="input" min="0" max="15" step="1" placeholder="#" title="Fluxo de oxigênio" disabled>
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">L/min</button>
				</div>
			</div>

			<div class="field has-addons">
				<div class="control">
					<button class="button is-static" tabindex="-1">Pulso</button>
				</div>
				<div class="control is-expanded">
					<input type="number" id="ssvv-pulse" class="input" min="1" step="1" placeholder="#">
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">bpm</button>
				</div>
			</div>

			<div class="field has-addons">
				<div class="control">
					<button class="button is-static" tabindex="-1">PA</button>
				</div>
				<div class="control is-expanded">
					<input type="number" id="ssvv-pas" class="input" min="1" step="2" placeholder="PAS" title="Pressão arterial sistólica em milímetros de mercúrio">
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">/</button>
				</div>
				<div class="control is-expanded">
					<input type="number" id="ssvv-pad" class="input" min="1" step="2" placeholder="PAD" title="Pressão arterial diastólica em milímetros de mercúrio">
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">mmHg</button>
				</div>
			</div>

			<div class="field has-addons">
				<div class="control">
					<button class="button is-static" tabindex="-1">FR</button>
				</div>
				<div class="control is-expanded">
					<input type="number" id="ssvv-fr" class="input" min="1" step="1" placeholder="#" title="# incursões respiratórias por minuto">
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">irpm</button>
				</div>
			</div>

			<div class="field has-addons">
				<div class="control">
					<button class="button is-static" tabindex="-1">Dextro</button>
				</div>
				<div class="control">
					<input type="number" id="ssvv-glucose" class="input" min="1" step="1" placeholder="# (HI > 400)">
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">mg/dL</button>
				</div>
				<div class="control is-expanded">
					<div class="select is-fullwidth">
						<select id="ssvv-glucose-time">
							<option value="" selected>Desconhecida</option>
							<option value=" (jejum)">Jejum</option>
							<option value=" (pós-alimentação)">PÓS-Aliment</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="field has-addons">
				<div class="control">
					<button class="button is-static" tabindex="-1">Temp</button>
				</div>
				<div class="control is-expanded">
					<input type="number" id="ssvv-temp" class="input" min="1" step="0.1" placeholder="#">
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">°C</button>
				</div>
				<div class="control">
					<div class="select">
						<select id="ssvv-temp-desc">
							<option value="infravermelho de testa" selected>testa</option>
							<option value="axilar">axila</option>
						</select>
					</div>
				</div>
			</div>

			<div class="field has-addons">
				<div class="control">
					<button class="button is-static" tabindex="-1">Peso</button>
				</div>
				<div class="control">
					<div class="select">
						<select id="ssvv-weight-eq">
							<option value="~" title="Peso APROXIMADO" selected>~</option>
							<option value="= " title="Peso exato aferido neste contato">=</option>
						</select>
					</div>
				</div>
				<div class="control is-expanded">
					<input type="number" id="ssvv-weight" class="input" min="0" step="0.1" placeholder="#">
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">kg</button>
				</div>
			</div>

			<div class="field has-addons">
				<div class="control">
					<button class="button is-static" tabindex="-1">Alt</button>
				</div>
				<div class="control is-expanded">
					<input type="number" id="ssvv-height" class="input" min="1" step="1" placeholder="#">
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">cm</button>
				</div>
			</div>

			<div class="field has-addons">
				<div class="control">
					<button class="button is-static" tabindex="-1">IMC</button>
				</div>
				<div class="control is-expanded">
					<input type="number" id="ssvv-bmi" class="input" placeholder="#" readonly>
				</div>
				<div class="control">
					<button class="button is-static" tabindex="-1">kg/m<sup>2</sup>
					</button>
				</div>
			</div>

			<div class="field has-addons">
				<div class="control">
					<button class="button is-static" tabindex="-1">Dor (EVA)</button>
				</div>
				<div class="control is-expanded">
					<div class="select is-fullwidth">
						<select id="ssvv-pain">
							<option value="" selected>N/A</option>
							<option value="0">&empty;</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="box">
	<h2 class="title is-4">Consciência</h2>

	<div class="field has-addons">
		<div class="control">
			<button type="button" class="button is-static" tabindex="-1">GCS</button>
		</div>
		<div class="control">
			<button type="button" class="button is-static" tabindex="-1">AO</button>
		</div>
		<div class="control is-expanded">
			<div class="select is-fullwidth">
				<select id="ssvv-gcs-eye">
					<option value="" selected>N/A</option>
					<option value="4" title="Abre os olhos espontaneamente">4</option>
          <option value="3" title="Abre os olhos em resposta a um chamado">3</option>
          <option value="2" title="Abre os olhos em resposta a estímulo de dor">2</option>
          <option value="1" title="Não abre os olhos">1</option>
          <option value="0" title="Não testado">0 NT</option>
				</select>
			</div>
		</div>
		<div class="control">
			<button type="button" class="button is-static" tabindex="-1">RV</button>
		</div>
		<div class="control is-expanded">
			<div class="select is-fullwidth">
				<select id="ssvv-gcs-speech">
					<option value="" selected>N/A</option>
          <option value="5" title="Orientado, conversa normalmente">5</option>
          <option value="4" title="Confuso, desorientado">4</option>
          <option value="3" title="Pronuncia palavras desconexas">3</option>
          <option value="2" title="Emite sons incompreensíveis">2</option>
          <option value="1" title="Emudecido">1</option>
          <option value="0" title="Não testado">0 NT</option>
				</select>
			</div>
		</div>
		<div class="control">
			<button type="button" class="button is-static" tabindex="-1">RM</button>
		</div>
		<div class="control is-expanded">
			<div class="select is-fullwidth">
				<select id="ssvv-gcs-muscle">
					<option value="" selected>N/A</option>
					<option value="6" title="Obedece a comandos">6</option>
          <option value="5" title="Localiza estímulos dolorosos">5</option>
          <option value="4" title="Flexão inespecífica (normal)/ Reflexo de retirada a estímulos dolorosos">4</option>
          <option value="3" title="Flexão anormal a estímulos dolorosos (decorticação)">3</option>
          <option value="2" title="Extensão a estímulos dolorosos (descerebração)">2</option>
          <option value="1" title="Não se movimenta">1</option>
          <option value="0" title="Não testado">0 NT</option>
				</select>
			</div>
		</div>
	</div>

  <div class="field has-addons">
		<div class="control">
			<button type="button" class="button is-static" tabindex="-1">RASS</button>
		</div>
		<div class="control is-expanded">
			<div class="select is-fullwidth">
				<select id="ssvv-rass">
					<option value="" selected>N/A</option>
					<option value="+4" title="+4 - Violento, perigoso">Agressivo</option>
          <option value="+3" title="+3 - Conduta agressiva, remoção de tubos e catéteres">Muito agitado</option>
          <option value="+2" title="+2 - Movimentos sem coordenação frequente">Agitado</option>
          <option value="+1" title="+1 - Ansioso, mas sem movimentos agressivos ou vigorosos">Inquieto</option>
          <option value="0" title="0 - Consciência normal">Alerta, calmo</option>
          <option value="-1" title="-1 - Não se encontra totalmente alerta, mas tem o despertar sustentado ao som da voz por >10s">Sonolento</option>
          <option value="-2" title="-2 - Acorda rapidamente e faz contato visual com o som da voz, mas por <10s">Sedação leve</option>
          <option value="-3" title="-3 - Movimento ou abertura dos olhos ao som da voz, mas sem contato visual">Sedação moderada</option>
          <option value="-4" title="-4 - Não responde ao som da voz, mas movimenta ou abre os olhos com estimulação física">Sedação profunda</option>
          <option value="-5" title="-5 - Não responde ao som da voz ou ao estímulo físico">Incapaz de ser despertado</option>
				</select>
			</div>
		</div>
	</div>

	<div class="field has-addons">
		<div class="control">
			<button class="button is-static" tabindex="-1">Orientação Tempo-Espacial</button>
		</div>
		<div class="control is-expanded">
			<div class="select is-fullwidth">
				<select id="ssvv-orientation-time">
					<option value="" selected>Tempo</option>
					<option value="Orientad((PRO))">Orientade</option>
					<option value="DESorientad((PRO))">DESorientade</option>
				</select>
			</div>
		</div>
		<div class="control is-expanded">
			<div class="select is-fullwidth">
				<select id="ssvv-orientation-space">
					<option value="" selected>Espaço</option>
					<option value="Orientad((PRO))">Orientade</option>
					<option value="DESorientad((PRO))">DESorientade</option>
				</select>
			</div>
		</div>
	</div>

	<div class="field has-addons">
		<div class="control">
			<button class="button is-static" tabindex="-1">Colaboração</button>
		</div>
		<div class="control">
			<div class="select">
				<select id="ssvv-collaboration">
					<option value="" selected>N/A</option>
					<option value="Colaborativ((PRO))">Colaborative</option>
					<option value="Pouco colaborativ((PRO))">&darr;Colaborative</option>
					<option value="Agressiv((PRO))">Agressive</option>
					<option value="Hipoativ((PRO)) | Hiporreativ((PRO))">Hipo- Ative/Reative</option>
					<option value="Catatonic((PRO))">Catatonice</option>
					<option value="Evasiv((PRO))">Evasive</option>
					<option value="Hipomania">Hipomania</option>
					<option value="Mania">Mania</option>
          <option value="other">Outro...</option>
				</select>
			</div>
		</div>
    <div class="control is-expanded">
      <input class="input" id="ssvv-collaboration-other" placeholder="Descreva..." disabled>
    </div>
	</div>

	<div class="field has-addons">
		<div class="control">
			<button class="button is-static" tabindex="-1">Deambulação</button>
		</div>
		<div class="control">
			<div class="select">
				<select id="ssvv-walking">
					<option value="" selected>N/A</option>
					<option value="Deambulando sem apoios, sem claudicações e sem dificuldades">&empty;Apoios/Claud/Dificuldades</option>
					<option value="Deambulando sem apoios">&empty;Apoios</option>
					<option value="Em cadeirda de rodas">Cadeira Rodas</option>
					<option value="Em maca">Maca</option>
					<option value="other">Outro...</option>
				</select>
			</div>
		</div>
		<div class="control is-expanded">
			<input type="text" class="input" id="ssvv-walking-other" placeholder="Descreva..." disabled>
		</div>
	</div>
</div>
{% endmacro %}

{##
  Head physical exam fields.
#}
{% macro head() %}
<div class="box">
  <div class="field">
    <label class="is-checkradio">
      <input type="checkbox" class="is-primary collapsable" id="c-head" data-target="collapsable-head">
      <span class="icon-text">
        <span class="icon is-medium">
          <i class="mdi mdi-head mdi-36px"></i>
        </span>
        <span><strong>Cabeça</strong></span>
      </span>
    </label>
  </div>

  <div class="is-hidden" id="collapsable-head">
    <div class="columns is-vcentered">
      <div class="column is-2">
        <div class="field">
          <label class="is-checkradio">
            <input type="checkbox" class="is-link" id="exam-eye">
            <span class="icon">
              <i class="mdi mdi-eye mdi-24px"></i>
            </span>
          </label>
        </div>
      </div>

      <div class="column">
        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">Conjuntiva</button>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="eye-redness">
                <option value="" selected>Hiperemia? (N/A)</option>
                <option value="sem hiperemia">S/ Hiperm</option>
                <option value="hiperemia leve bilateral">Leve Bilat</option>
                <option value="hiperemia moderada bilateral">Moderada Bilat</option>
                <option value="hiperemia intensa bilateral">Intensa Bilat</option>
                <option value="hiperemia leve apenas à direita">Leve D</option>
                <option value="hiperemia moderada apenas à direita">Moderada D</option>
                <option value="hiperemia intensa apenas à direita">Intensa D</option>
                <option value="hiperemia leve apenas à esquerda">Leve E</option>
                <option value="hiperemia moderada apenas à esquerda">Moderada E</option>
                <option value="hiperemia intensa apenas à esquerda">Intensa E</option>
              </select>
            </div>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="eye-yellowness">
                <option value="" selected>Icterícia? (N/A)</option>
                <option value="sem icterícia">S/ Icter</option>
                <option value="icterícia leve bilateral">Leve Bilat</option>
                <option value="icterícia moderada bilateral">Moderada Bilat</option>
                <option value="icterícia intensa bilateral">Intensa Bilat</option>
                <option value="icterícia leve apenas à direita">Leve D</option>
                <option value="icterícia moderada apenas à direita">Moderada D</option>
                <option value="icterícia intensa apenas à direita">Intensa D</option>
                <option value="icterícia leve apenas à esquerda">Leve E</option>
                <option value="icterícia moderada apenas à esquerda">Moderada E</option>
                <option value="icterícia intensa apenas à esquerda">Intensa E</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">Secreções</button>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="eye-secretions">
                <option value="" selected>Crostas (N/A)</option>
                <option value="Crostas ausentes">&empty;Crostas</option>
                <option value="Crostas presentes bilateralmente">Crostas Bilat</option>
                <option value="Crostas presentes apenas à direita">Crostas D</option>
                <option value="Crostas presentes apenas à esquerda">Crostas E</option>
              </select>
            </div>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="eye-pus">
                <option value="" selected>Pus (N/A)</option>
                <option value="Pus ausente">&empty;Pus</option>
                <option value="Pus presente bilateralmente">Pus Bilat</option>
                <option value="Pus presente apenas à direita">Pus D</option>
                <option value="Pus presente apenas à esquerda">Pus E</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">MOE</button>
          </div>
          <div class="control">
            <div class="select">
              <select id="eye-movements">
                <option value="" selected>N/A</option>
                <option value="preservada">Normal</option>
                <option value="AUSENTE">Ausente</option>
                <option value="other">Alterada (com...)</option>
              </select>
            </div>
          </div>
          <div class="control is-expanded">
            <input class="input" id="eye-movements-other" placeholder="Descreva alterações..." disabled>
          </div>
        </div>

        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">Pupilas</button>
          </div>
          <div class="control">
            <div class="select">
              <select id="eye-pupils">
                <option value="" selected>N/A</option>
                <option value="preservada">Normal</option>
                <option value="com midríase fotorreativa à esquerda">Midríase Reat E</option>
                <option value="com midríase fixa à esquerda">Midríase Fixa E</option>
                <option value="com miose fotorreativa à esquerda">Miose Reat E</option>
                <option value="com miose fixa à esquerda">Miose Fixa E</option>
                <option value="puntiforme à esquerda">Puntif E</option>
                <option value="com midríase fotorreativa à direita">Midríase Reat D</option>
                <option value="com midríase fixa à direita">Midríase Fixa D</option>
                <option value="com miose fotorreativa à direita">Miose Reat D</option>
                <option value="com miose fixa à direita">Miose Fixa D</option>
                <option value="puntiforme à direita">Puntif D</option>
                <option value="com midríase fotorreativa bilateralmente">Midríase Reat Bilat</option>
                <option value="com midríase fixa bilateralmente">Midríase Fixa Bilat</option>
                <option value="com miose fotorreativa bilateralmente">Miose Reat Bilat</option>
                <option value="com miose fixa bilateralmente">Miose Fixa Bilat</option>
                <option value="puntiforme bilateralmente">Puntif Bilat</option>
                <option value="other">Alterada (pupilas com...)</option>
              </select>
            </div>
          </div>
          <div class="control is-expanded">
            <input class="input" id="eye-pupils-other" placeholder="Descreva alterações..." disabled>
          </div>
        </div>

        <div class="field has-addons">
          <div class="control is-expanded">
            <textarea class="textarea has-fixed-size" id="eye-other" rows="{{ app.user.getMiscRows | default(2) }}" placeholder="Descreva outras alterações oculares..."></textarea>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="columns is-vcentered">
      <div class="column is-2">
        <div class="field">
          <label class="is-checkradio">
            <input type="checkbox" id="exam-neck" class="is-link">
            <span class="icon">
              <i class="mdi mdi-necklace mdi-24px"></i>
            </span>
          </label>
        </div>
      </div>

      <div class="column">
        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">Tireoide</button>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="neck-thyroid-volume">
                <option value="" selected>Vol (N/A)</option>
                <option value="não palpável">&empty;</option>
                <option value="palpável topicamente, sem alterações de volume ou de superfície palpáveis">Normal</option>
                <option value="palpável topicamente, levemente aumentada mas sem alterações palpáveis de superfície e sem nódulos individualizáveis à palpação">&uarr;Vol</option>
                <option value="palpável topicamente, bastante aumentada mas sem alterações palpáveis de superfície e sem nódulos individualizáveis à palpação">&uarr;&uarr;&uarr;Vol</option>
                <option value="palpável topicamente, volume aumentado às custas de nódulo único">&uarr;Vol/Nód único</option>
                <option value="palpável topicamente, volume aumentado às custas de diversos nódulos">&uarr;Vol/Nóds</option>
              </select>
            </div>
          </div>
          <div class="control">
            <div class="select">
              <select id="neck-thyroid-nodules" disabled>
                <option value="" selected>Loc Nód (N/A)</option>
                <option value=" em topografia de lobo direito">Lobo D</option>
                <option value=" em topografia de lobo esquerdo">Lobo E</option>
                <option value=" em topografia medial">Medial</option>
                <option value=" em topografia de istmo">Ístmo</option>
              </select>
            </div>
          </div>
          <div class="control">
            <div class="select">
              <select id="neck-thyroid-margins">
                <option value="" selected>Marg N/A</option>
                <option value=" com margens superior e inferior bem caracterizáveis à palpação">normal</option>
                <option value=" com margem superior aparentemente ACIMA de topografia esperada, e inferior bem caracterizável à palpação">Sup&uarr; / Inf nl</option>
                <option value=" com margem superior aparentemente ACIMA de topografia esperada, e inferior NÃO caracterizável à palpação">Sup&uarr; / Inf&uarr;</option>
                <option value=" com margem superior aparentemente na topografia esperada, e inferior NÃO caracterizável à palpação">Sup nl / Inf&uarr;</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">Linfonodos</button>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="neck-lymphnodes">
                <option value="" selected>N/A</option>
                <option value="Sem linfonodomegalias cervicais, periauriculares ou supraclávicas palpáveis">&empty;</option>
                <option value="Presença de alguns linfonodos palpáveis, menores que 05mm">&plus;&lt;5mm</option>
                <option value="Presença de algumas linfonodomegalias">&plus;&ge;5mm</option>
                <option value="Presença de inúmeros linfonodos palpáveis, todos menores que 05mm">&plus;&plus;&lt;5mm</option>
                <option value="Presença de inúmeras linfonodomegalias palpáveis">&plus;&plus;&ge;5mm</option>
              </select>
            </div>
          </div>
          <div class="control">
            <button class="button is-static" tabindex="-1">de aspecto</button>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="neck-lymphnodes-desc" disabled>
                <option value="" selected>&empty;</option>
                <option value=", de aspecto indeterminado">indeterm</option>
                <option value=", de aspecto fibroelástico, móvel, não-aderido a planos profundos e doloroso à palpação">reacional</option>
                <option value=", de aspecto endurado, coalescidos, aderido a planos profundos e indolor à palpação">maligno</option>
                <option value=", de aspecto misto reacional/linfoinfiltrativo">misto</option>
              </select>
            </div>
          </div>
        </div>

        <input type="hidden" id="neck-lymphnodes-locs">

        <div class="columns is-hidden" id="lymph-locs-select">
          <div class="column">
            <h4 class="title is-6 has-text-centered">Direita</h4>

            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="Ia direito" name="neck-lymphnode-sector">
              <span>Ia</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="Ib direito" name="neck-lymphnode-sector">
              <span>Ib</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="IIa direito" name="neck-lymphnode-sector">
              <span>IIa</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="IIb direito" name="neck-lymphnode-sector">
              <span>IIb</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="III direito" name="neck-lymphnode-sector">
              <span>III</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="IV direito" name="neck-lymphnode-sector">
              <span>IV</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="Va direito" name="neck-lymphnode-sector">
              <span>Va</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="Vb direito" name="neck-lymphnode-sector">
              <span>Vb</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="VI direito" name="neck-lymphnode-sector">
              <span>VI</span>
            </label>
          </div>

          <div class="column">
            <h4 class="title is-6 has-text-centered">Esquerda</h4>

            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="Ia esquerdo" name="neck-lymphnode-sector">
              <span>Ia</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="Ib esquerdo" name="neck-lymphnode-sector">
              <span>Ib</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="IIa esquerdo" name="neck-lymphnode-sector">
              <span>IIa</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="IIb esquerdo" name="neck-lymphnode-sector">
              <span>IIb</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="III esquerdo" name="neck-lymphnode-sector">
              <span>III</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="IV esquerdo" name="neck-lymphnode-sector">
              <span>IV</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="Va esquerdo" name="neck-lymphnode-sector">
              <span>Va</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="Vb esquerdo" name="neck-lymphnode-sector">
              <span>Vb</span>
            </label>
            <label class="is-checkradio">
              <input type="checkbox" class="is-link" value="VI esquerdo" name="neck-lymphnode-sector">
              <span>VI</span>
            </label>
          </div>
        </div>

        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">Gl. Parótidas</button>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="neck-parotid-right">
                <option value="" selected>Dir (N/A)</option>
                <option value="não palpável" plural-alt="não palpáveis">&empty;</option>
                <option value="de tamanho e aspecto fisiológicos" plural-alt="de tamanhos e aspectos fisiológicos"></option>
                <option value="aumentada com padrão inflamatório/reacional" plural-alt="aumentadas, ambas com padrão inflamatório/reacional">&uarr;Flogos</option>
                <option value="aumentada com aspecto endurado/sólido" plural-alt="aumentadas, ambas com aspecto endurado/sólido">&uarr;Malig</option>
              </select>
            </div>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="neck-parotid-left">
                <option value="" selected>Esq (N/A)</option>
                <option value="não palpável" plural-alt="não palpáveis">&empty;</option>
                <option value="de tamanho e aspecto fisiológicos" plural-alt="de tamanhos e aspectos fisiológicos"></option>
                <option value="aumentada com padrão inflamatório/reacional" plural-alt="aumentadas, ambas com padrão inflamatório/reacional">&uarr;Flogos</option>
                <option value="aumentada com aspecto endurado/sólido" plural-alt="aumentadas, ambas com aspecto endurado/sólido">&uarr;Malig</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">Gl. Sublinguais</button>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="neck-sublingual-right">
                <option value="" selected>Dir (N/A)</option>
                <option value="não palpável" plural-alt="não palpáveis">&empty;</option>
                <option value="de tamanho e aspecto fisiológicos" plural-alt="de tamanhos e aspectos fisiológicos"></option>
                <option value="aumentada com padrão inflamatório/reacional" plural-alt="aumentadas, ambas com padrão inflamatório/reacional">&uarr;Flogos</option>
                <option value="aumentada com aspecto endurado/sólido" plural-alt="aumentadas, ambas com aspecto endurado/sólido">&uarr;Malig</option>
              </select>
            </div>
          </div>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select id="neck-sublingual-left">
                <option value="" selected>Esq (N/A)</option>
                <option value="não palpável" plural-alt="não palpáveis">&empty;</option>
                <option value="de tamanho e aspecto fisiológicos" plural-alt="de tamanhos e aspectos fisiológicos"></option>
                <option value="aumentada com padrão inflamatório/reacional" plural-alt="aumentadas, ambas com padrão inflamatório/reacional">&uarr;Flogos</option>
                <option value="aumentada com aspecto endurado/sólido" plural-alt="aumentadas, ambas com aspecto endurado/sólido">&uarr;Malig</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <textarea class="textarea has-fixed-size" id="neck-other" placeholder="Descreva outras alterações cervicais..." rows="{{ app.user.getMiscRows | default(2) }}"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{##
  Ear, nose, mouth, and throat physical exam fields.
#}
{% macro orl() %}
<div class="box">
	<div class="field">
		<label class="is-checkradio">
      <input type="checkbox" class="is-primary collapsable" data-target="collapsable-orl">
			<span class="icon-text">
				<span class="icon is-medium">
					<i class="mdi mdi-ear-hearing mdi-36px"></i>
				</span>
				<span>
					<strong>ORL</strong>
				</span>
			</span>
		</label>
	</div>

	<div class="is-hidden" id="collapsable-orl">
		<div class="columns is-vcentered">
      <div class="column is-2">
				<div class="field">
					<label class="is-checkradio">
            <input type="checkbox" id="exam-oto" class="is-link">
						<span class="icon">
							<i class="mdi mdi-ear-hearing mdi-24px"></i>
						</span>
					</label>
				</div>
			</div>

			<div class="column">
				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Tímpano</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oto-d-membrane">
                <option value="">MTD (N/A)</option>
								<option value="visualizável, sem alterações, abaulamentos ou conteúdos retrotimpânicos">Normal</option>
								<option value="visualizável, levemente opacificada">&half;Opaca</option>
								<option value="visualizável, levemente hiperemiada, mas sem abaulamentos ou conteúdos retrotimpânicos">&half;Hiperem</option>
								<option value="visualizável, hiperemiada, abaulada e com conteúdo retrotimpânico seroso">Hiperem+Abaul/Seroso</option>
								<option value="visualizável, hiperemiada, abaulada e com conteúdo retrotimpânico purulento">Hiperem+Abaul/Pus</option>
								<option value="visualizável, mas com rotura">Rotura</option>
								<option value="não visualizável">Ausente</option>
								<option value="não visualizável por cerume impactado em conduto">Cerume</option>
							</select>
						</div>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oto-e-membrane">
								<option value="">MTE (N/A)</option>
								<option value="visualizável, sem alterações, abaulamentos ou conteúdos retrotimpânicos">Normal</option>
								<option value="visualizável, levemente opacificada">&half;Opaca</option>
								<option value="visualizável, levemente hiperemiada, mas sem abaulamentos ou conteúdos retrotimpânicos">&half;Hiperem</option>
								<option value="visualizável, hiperemiada, abaulada e com conteúdo retrotimpânico seroso">Hiperem+Abaul/Seroso</option>
								<option value="visualizável, hiperemiada, abaulada e com conteúdo retrotimpânico purulento">Hiperem+Abaul/Pus</option>
								<option value="visualizável, mas com rotura">Rotura</option>
								<option value="não visualizável">Ausente</option>
								<option value="não visualizável por cerume impactado em conduto">Cerume</option>
							</select>
						</div>
					</div>
				</div>

        <div class="field has-addons">
          <div class="control">
						<button class="button is-static" tabindex="-1">Conduto</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oto-d-canal">
                <option value="" selected>Dir (N/A)</option>
								<option value="sem alterações">Normal</option>
								<option value="com hiperemia importante mas sem secreções">Hiperem</option>
								<option value="com hiperemia importante e secreção purulenta">Hiperem+Pus</option>
								<option value="com cerume impactado">Cerume</option>
							</select>
						</div>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oto-e-canal">
                <option value="" selected>Esq (N/A)</option>
								<option value="sem alterações">Normal</option>
								<option value="com hiperemia importante mas sem secreções">Hiperem</option>
								<option value="com hiperemia importante e secreção purulenta">Hiperem+Pus</option>
								<option value="com cerume impactado">Cerume</option>
							</select>
						</div>
					</div>
        </div>

        <div class="field has-addons">
          <div class="control">
						<button class="button is-static" tabindex="-1">Pavilhão</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oto-d-ear">
                <option value="" selected>Dir (N/A)</option>
								<option value="sem alterações">Normal</option>
								<option value="com hiperemia importante mas sem secreções">Hiperem</option>
								<option value="com hiperemia importante e secreção purulenta">Hiperem+Pus</option>
								<option value="com cerume impactado">Cerume</option>
							</select>
						</div>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oto-e-ear">
                <option value="" selected>Esq (N/A)</option>
								<option value="sem alterações">Normal</option>
								<option value="com hiperemia importante mas sem secreções">Hiperem</option>
								<option value="com hiperemia importante e secreção purulenta">Hiperem+Pus</option>
								<option value="com cerume impactado">Cerume</option>
							</select>
						</div>
					</div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <textarea class="textarea has-fixed-size" id="oto-other" placeholder="Descreva outras alterações otológicas..." rows="{{ app.user.getMiscRows | default(2) }}"></textarea>
          </div>
        </div>
			</div>
		</div>

		<hr>

		<div class="columns is-vcentered">
			<div class="column is-2">
				<div class="field">
					<label class="is-checkradio">
            <input type="checkbox" id="exam-oro" class="is-link">
						<span class="icon">
							<i class="mdi mdi-tooth mdi-24px"></i>
						</span>
					</label>
				</div>
			</div>

			<div class="column">
				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Oroscopia</button>
					</div>
					<div class="control">
						<div class="select">
							<select id="oro-pharynx">
                <option value="" selected>N/A</option>
                <option value="sem alterações">Normal</option>
								<option value="sem hiperemia">&empty;hiperem</option>
								<option value="levemente hiperemiada">&half;hiperem</option>
								<option value="muito hiperemiada">+hiperem</option>
                <option value="other">Com...</option>
							</select>
						</div>
					</div>
          <div class="control is-expanded">
            <input type="text" class="input" id="oro-pharynx-other" placeholder="Descreva..." disabled>
          </div>
				</div>

				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Tamanho Tonsilas</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oro-d-tonsils-size">
                <option value="" selected>Dir (N/A)</option>
								<option value="ausente">&empty;</option>
								<option value="grau 1 de Brodsky">Grau 1</option>
								<option value="grau 2 de Brodsky">Grau 2</option>
								<option value="grau 3 de Brodsky">Grau 3</option>
								<option value="grau 4 de Brodsky">Grau 4</option>
							</select>
						</div>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oro-e-tonsils-size">
                <option value="" selected>Esq (N/A)</option>
								<option value="ausente">&empty;</option>
								<option value="grau 1 de Brodsky">Grau 1</option>
								<option value="grau 2 de Brodsky">Grau 2</option>
								<option value="grau 3 de Brodsky">Grau 3</option>
								<option value="grau 4 de Brodsky">Grau 4</option>
							</select>
						</div>
					</div>
				</div>

        <div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Cobert. Tonsilas</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oro-d-tonsils-cover">
                <option value="" selected>Dir (N/A)</option>
								<option value="sem placas, cáseos, ou outras coberturas">Normal</option>
                <option value="com trama fibrínica">Fibrina</option>
								<option value="com cáseos">Cáseos</option>
								<option value="com placas purulentas">Pus</option>
							</select>
						</div>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oro-e-tonsils-cover">
                <option value="" selected>Esq (N/A)</option>
								<option value="sem placas, cáseos, ou outras coberturas">Normal</option>
                <option value="com trama fibrínica">Fibrina</option>
								<option value="com cáseos">Cáseos</option>
								<option value="com placas purulentas">Pus</option>
							</select>
						</div>
					</div>
        </div>

				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Palato</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oro-palate">
                <option value="" selected>N/A</option>
								<option value="centralizado, sem desvios">Normal</option>
								<option value="com desvio à direita">Desvio D</option>
								<option value="com desvio à esquerda">Desvio E</option>
								<option value="sem úvula visível">&empty;Úvula</option>
							</select>
						</div>
					</div>
				</div>

				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Higiene</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="oro-hygine">
                <option value="" selected>N/A</option>
								<option value="Bom estado de higiene oral">Boa</option>
								<option value="Mal estado de higiene oral">&half;Ruim</option>
								<option value="Péssimo estado de higiene oral">&uarr;Ruim</option>
							</select>
						</div>
					</div>
				</div>

        <div class="field">
          <div class="control is-expanded">
            <textarea class="textarea has-fixed-size" id="oro-other" placeholder="Descreva outras alterações otológicas..." rows="{{ app.user.getMiscRows | default(2) }}"></textarea>
          </div>
        </div>
			</div>
		</div>

		<hr>

		<div class="columns is-vcentered">
			<div class="column is-2">
				<div class="field">
					<label class="is-checkradio">
            <input type="checkbox" id="exam-nose" class="is-link">
						<span class="icon">
							<i class="mdi mdi-face-woman-profile mdi-24px"></i>
						</span>
					</label>
				</div>
			</div>

			<div class="column">
				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Mucosa</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="nose-mucosa">
                <option value="" selected>N/A</option>
								<option value="de aspecto normal">Normal</option>
								<option value="levemente enantematosa">&half;Hiperem</option>
								<option value="bastante enantematosa">&uarr;Hiperem</option>
							</select>
						</div>
					</div>
				</div>

				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Cornetos</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="nose-d-shells">
                <option value="" selected>Dir (N/A)</option>
								<option value="sem hipertrofias">Normal</option>
								<option value="hipertrofiadas">&uarr;Tamanho</option>
							</select>
						</div>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="nose-e-shells">
                <option value="" selected>Esq (N/A)</option>
								<option value="sem hipertrofias">Normal</option>
								<option value="hipertrofiadas">&uarr;Tamanho</option>
							</select>
						</div>
					</div>
				</div>

				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Septo Nasal</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="nose-sept">
                <option value="" selected>N/A</option>
								<option value="sem desvio aparente de septo nasal">&empty;Desvios</option>
								<option value="desvio leve de septo nasal para esquerda">Desvio &half;E</option>
								<option value="desvio moderado de septo nasal para esquerda">Desvio &frac34;E</option>
								<option value="desvio importante de septo nasal para esquerda">Desvio +E</option>
								<option value="desvio leve de septo nasal para direita">Desvio &half;D</option>
								<option value="desvio moderado de septo nasal para direita">Desvio &frac34;D</option>
								<option value="desvio importante de septo nasal para direita">Desvio +D</option>
							</select>
						</div>
					</div>
				</div>

        <div class="field">
          <div class="control is-expanded">
            <textarea class="textarea has-fixed-size" id="nose-other" placeholder="Descreva outras alterações otológicas..." rows="{{ app.user.getMiscRows | default(2) }}"></textarea>
          </div>
        </div>
			</div>
		</div>

		<hr>

		<div class="columns is-vcentered">
			<div class="column is-2">
				<div class="field">
					<label class="is-checkradio">
            <input type="checkbox" id="exam-hints" class="is-link">
						<span class="icon">
							<i class="mdi mdi-weather-hurricane mdi-24px"></i>
						</span>
					</label>
				</div>
			</div>

			<div class="column">
				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Head Impulse</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="hints-hi" title="Avalição de Reflexo Vestibulo-Ocular, ou VOR em inglês.">
                <option value="" selected>N/A</option>
								<option value="sem latência bilateralmente" pattern="0">&empty;Latências</option>
								<option value="com latência à direita" pattern="1">Atraso à D</option>
								<option value="com latência à esquerda" pattern="1">Atraso à E</option>
								<option value="com latência a ambos os lados" pattern="1">Atraso bilateral</option>
							</select>
						</div>
					</div>
				</div>

				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Nistagmo</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="hints-n">
                <option value="" selected>N/A</option>
								<option value="ausentes" pattern="0">Ausente</option>
								<option value="presentes, horizontal unilateral" pattern="-1">Horizontal Unilat.</option>
								<option value="presentes, torcional" pattern="-1">Torcional</option>
								<option value="presentes, horizontal COM MUDANÇA DE LATERALIDADE" pattern="1">Horizontal COM MUDANÇA DE LADO</option>
								<option value="presentes, VERTICAL para cima" pattern="1">Upbeat</option>
								<option value="presentes, VERTICAL para baixo" pattern="1">Downbeat</option>
							</select>
						</div>
					</div>
				</div>

				<div class="field has-addons">
					<div class="control">
						<button class="button is-static" tabindex="-1">Teste de&nbsp;<em>Skew</em>
						</button>
					</div>
					<div class="control is-expanded">
						<div class="select is-fullwidth">
							<select id="hints-ts">
                <option value="" selected>N/A</option>
								<option value="sem alterações" pattern="0">Normal</option>
								<option value="ALTERADO à direita" pattern="1">ALTERADO Dir</option>
                <option value="ALTERADO à esquerda" pattern="1">ALTERADO Esq</option>
                <option value="ALTERADO bilateralmente" pattern="1">ALTERADO Bilat</option>
							</select>
						</div>
					</div>
				</div>

        <p class="help">
          O processamento de padrão do HINTS está em
          <strong>estágio ALPHA</strong>, então faça
          <strong>dupla checagem do resultado</strong>
          antes de usá-lo!
        </p>
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{##
  Includes a box div, containing a compile
  button, an output textarea and a copy button.
#}
{% macro output_box() %}
<div class="box">
  <h2 class="title is-4">Resultado</h2>

  <div class="field is-expanded">
    <div class="control is-expanded">
      <button id="output-compile" class="button is-primary is-fullwidth">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-arrow-collapse"></i>
          </span>
          <span>Gerar</span>
        </span>
      </button>
    </div>
  </div>

  <div class="field is-expanded">
    <div class="control">
      <textarea id="output" class="textarea has-fixed-size" placeholder="Resultado..." rows="{{ app.getUser.getOutputRows | default(10) }}" readonly></textarea>
    </div>
  </div>

  <div class="field">
    <div class="control is-expanded">
      <button class="button is-fullwidth clipboard" data-clipboard-target="#output">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-content-copy"></i>
          </span>
          <span>Copiar Resultado</span>
        </span>
      </button>
    </div>
  </div>
</div>
{% endmacro %}
