{% extends '_base.html.twig' %}

{% block javascripts %}
{{ encore_entry_script_tags('physical') }}
{% endblock %}

{% block main %}
{%- import "macros/_forms.html.twig" as form -%}
{%- import "macros/_physical.html.twig" as physical -%}
<header class="section">
  <div class="container">
    {{ form.header(name) }}
  </div>
</header>

<section class="section">
  <div class="container">
    {{ physical.gender() }}
    {{ physical.general() }}
    {{ physical.head() }}

    {{ physical.output_box() }}
  </div>
</section>
{% endblock %}
