{% extends 'emails/base.html.twig' %}

{% block content %}
<h1>{{ app }}</h1>

<div class="box">
  <h2>Olá, {{ name }}!</h2>
  <p>
    Você está convidade para participar de
    <a target="_blank" href="{{ path('home') }}">{{ app }}</a>!
  </p>
  <p>
    Para iniciar, vá para a
    <a target="_blank" href="{{ path('login') }}">página de login</a>
    e entre com os dados abaixo:
  </p>
  <p class="center">
    <strong>Usuário:</strong> <code>{{ username }}</code>
    <br>
    <strong>Senha:</strong> <code>{{ pw }}</code>
  </p>
  <p>Bem vinde!</p>
</div>

<div class="box warning">
  <h2>Importante!</h2>
  <p>
    A senha acima foi gerada automaticamente, mas sugerimos
    <strong>fortemente</strong> que você a modifique para
    uma senha própria tão logo entre no seu Painel!
  </p>
</div>
{% endblock %}
