{% extends '_skeleton.html.twig' %}

{% block body %}
<nav class="navbar is-primary is-fixed-top has-shadow" id="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ path('home') }}">
      <img src="{{ asset('images/Logo Light.svg') }}">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbar-menu">
    <div class="navbar-end">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <a class="navbar-item">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-account"></i>
          </span>
          <span>{{ app.user.username }}</span>
        </span>
      </a>
      <a class="navbar-item" href="{{ path('config_home') }}">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-cog"></i>
          </span>
          <span>Painel</span>
        </span>
      </a>
      <a class="navbar-item" href="{{ path('logout') }}">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-logout"></i>
          </span>
          <span>Logout</span>
        </span>
      </a>
      {% else %}
      <a class="navbar-item" href="{{ path('login') }}">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-login"></i>
          </span>
          <span>Login</span>
        </span>
      </a>
      {% endif %}
    </div>
  </div>
</nav>

<div class="section">
  <div class="container">
    {% block main %}{% endblock %}
  </div>
</div>

<footer class="footer">
  <div class="columns">
    <div class="column is-4">
      <div class="content is-small">
        <p>
          <a target="_blank" href="https://github.com/Nereare/modelos-pront"><strong>{{ pront_name }}</strong></a>
          {{ pront_version }}
          por
          <a target="_blank" href="https://padoim.com.br/">{{ pront_author }}</a>.
          <br>
          Disponível sob a
          <a target="_blank" href="https://www.wtfpl.net/">{{ pront_license }}</a>
          &copy; {{ pront_year }}
        </p>
        <hr>
        <p>
          <strong>{{ app_name }}</strong>
          por
          <a href="mailto:{{ app_email }}">{{ app_owner }}</a>
          &copy;
          {{ app_year }}
        </p>
        {{ app_desc | emojify | markdown_to_html | sanitize_html }}
      </div>
    </div>

    <div class="column is-8">
      <h2 class="title is-5">Informações</h2>
      <div class="grid is-col-min-32">
        <div class="cell">
          <a href="{{ path('about') }}">
            <span class="icon-text">
              <span class="icon">
                <i class="mdi mdi-help"></i>
              </span>
              <span>Sobre</span>
            </span>
          </a>
        </div>
        <div class="cell">
          <a href="{{ path('cookies') }}">
            <span class="icon-text">
              <span class="icon">
                <i class="mdi mdi-cookie"></i>
              </span>
              <span>Cookies</span>
            </span>
          </a>
        </div>
        <div class="cell">
          <a href="{{ path('privacy') }}">
            <span class="icon-text">
              <span class="icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span>Privacidade</span>
            </span>
          </a>
        </div>
        <div class="cell">
          <a href="{{ path('usage') }}">
            <span class="icon-text">
              <span class="icon">
                <i class="mdi mdi-information"></i>
              </span>
              <span>Uso</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

{% if is_granted('IS_AUTHENTICATED') %}
<article class="message is-primary" id="fasts-drawer">
  <div class="message-header">
    <span class="icont-text">
      <span class="icon">
        <i class="mdi mdi-text-box"></i>
      </span>
      <span>Textos Rápidos</span>
    </span>
  </div>
  <div class="message-body">
  {% if app.user.getTexts|length > 0 %}
    <div class="buttons">
    {% for text in app.user.getTexts %}
      <button class="button is-fullwidth clipboard" data-clipboard-text="{{ text.getText }}">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-content-copy"></i>
          </span>
          <span>{{ text.getName }}</span>
        </span>
      </button>
    {% endfor %}
    </div>
  {% else %}
    <p class="has-text-centered">Sem textos rápidos</p>
  {% endif %}
  </div>
</article>
{% endif %}

<div class="notification is-hidden" id="global-message">
	<button class="delete"></button>
	<p></p>
</div>
{% endblock %}
